.welcome-main {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;
  color: white;
}

.welcome-block {
  height: 500px;
  width: 80%;
  background-color: #757575;
  border-radius: 12px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar {
  height: 30px;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.nav-left {
  background-color: red;
}
.nav-center {
}
.profile-body {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-image {
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
}

.user-image:hover {
  width: 110px;
  height: 110px;
  margin-bottom: 15px;
  cursor: pointer;
}
.lang-selector {
  margin-right: 10px;
}
